/*
______________________________________________________________________________
|                  |`````| ||  || ||    ||     /```/ |````|  /\    // || //   |
|      //\\        |  |``` ||  || ||    ||     \ \`   `||`  //\\  //  ||//    |
|    ///  \\\      |  ```| ||  || ||__  ||__    _\ \   ||  //  \\ \\  ||\\    |
|  ///      \\\    |__|``` \\__// |___| |___|  \___/   || //    \\ \\ || \\   |
|  \\\  /\  ///                                                               |
|    \\//\\//       //\\   //  //\\  ||\\  ||^^   /\  /\  \\  //              |
|      \\//        ||__|| ||  ||__|| || || ||==  //\\//\\   ||                |
|                  ||``||  \\ ||``|| ||//  ||,, //  \/  \\  ||                |
```````````````````````````````````````````````````````````````````````````````
*/

/* HTML Tag Selectors */

html, body {
  box-sizing: 'border-box';
  background-color: black;
  color: red;
}


ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 1em;
}


h4 {
    font-size: 100%;
}

@media (min-width: 800px) {
    h4 {
        font-size: 36pt;
    }
}

img {
    width: 40vw;
    max-width: 250px;
}

footer {
    width: 100%;
    border-top: solid 2px red;
    background-color: black;
    position: fixed;
    bottom: 0;
    max-height: 100px;
}

/* Class Selectors */

.vert-center {
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
}

.center {
    text-align: center;
}

.guess {
    display: inline;
    border: solid 2px red;
    border-radius: 10%;
    font-size: 6vw;
    padding: 0 5px;
    background-color: black;
    width: 20%;
    max-width: 200px;
    height: 20vw;
    max-height: 200px;
}

/*@media (min-width: 800px) {
    .guess {
        font-size: 36pt;
    }
}*/

.footer-row {
    height: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border: solid 2px red;
    background-color: black;
    color: red;
}

/* ID Selectors */

#guess-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#input-parent {
    /*height: 160px;
    width: 160px;*/
    /*margin: 5% auto 50px;*/
    float: none;
    margin: 0 auto;
    position: relative;
    height: 80vw;
    max-height: 400px;
    width: 80%;
    max-width: 400px;
}

#players-input {
    border: solid 2px red;
    border-radius: 50%;
    /*height: 160px;
    width: 160px;*/
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 8em;
    background-color: black;
    color: red;



}
#submit {
    border: solid 6px red;
    border-radius: 90%;
    /*height: 60px;
    width: 60px;*/
    height: 38%;
    width: 38%;
    position: absolute;
    /*top: 100px;
    left: 100px;*/
    top: 62%;
    left: 62%;
    background-color: black;
    color: red;
}

/* Override the default color used in the placeholder text for a text input */

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;
}

:-ms-input-placeholder {
   color: red;
}